@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


*, body {
    padding: 0;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
}

.inputText {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
}

.free {
    font-size: 3.5rem;
    
}

#pictureStuff {
    background-image: url('./secks.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#buttsex {
    font-size: 2rem;
}